:root {
  --bg-color-1: aliceblue;
}

.app {
  min-height: 100vh;
  background-color: var(--bg-color-1);
}
.layer-background {
}
.layer-features {
  /* background-color: #ddd; */
}
.layer-features > .grid-stack > .grid-stack-item > .grid-stack-item-content {
  inset: 0;
}
